<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pageheader col-md-offset-1 col-lg-offset-1">
            <a href="#"><img src="/_client/images/logo.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10  col-md-offset-1 col-lg-offset-1">
            <div class="form-logo-block row">
                <div class="logo-block col-md-4">
                    <div id="client_logo"></div>
                </div>
                <div class="form-block col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="col-xs-12 regswitch">
                        <ul class="nav nav-tabs">
                            <li class="formtitle" id="formtitle"></li>
                            <li id="tab_reg" role="presentation" class="active"><a href="javascript:switchTab('reg');"><span id="navregister"></span></a></li>
                            <li id="tab_login" role="presentation"><a href="javascript:switchTab('login');"><span id="navlogin"></span></a></li>

                        </ul>
                    </div>
                    <!------------------------------------------------------------------- -->
                    <div id="regloginform" class=" col-xs-12 formborder">
                        <div class="form-group col-xs-12">
                            <div id="languageSelectDropdown"></div>


                        </div>
                        <div id="regformblock">
                            <div class="form-group col-xs-6">
                                <label id="signupfirstname"></label>
                                <input type="text" name="fName" id="fName" class="form-control">
                            </div>
                            <div class="form-group col-xs-6">
                                <label id="signuplastname"></label>
                                <input type="text" name="lName" id="lName" class="form-control">
                            </div>

                            <div class="form-group col-xs-12">
                                <label id="signupemail"></label>
                                <input type="text" name="sEmail" id="sEmail" class="form-control">
                            </div>


                            <div class="form-group col-xs-6">
                                <label id="signuppassword"></label>
                                <input type="password" name="sPass" id="sPass" class="form-control">
                            </div>


                            <div class="form-group col-xs-6">
                                <label id="signupconfirm"></label>
                                <input type="password" name="password_confirm" id="password_confirm" class="form-control">
                            </div>
                            <div id="member-filters">
                               
                            </div>
                            <div id="region-filter">
                                <div class="form-group col-xs-12">
                                    <label id="region-label"></label>
									<span id="regionDropdown"></span>
                                    
                                </div>
                            </div>
							<div id="select-filter">
								<div class="form-group col-xs-12">
                                    
									<span id="selectDropdown"></span>
                                    <input type="text" class="form-control" id="other_country" style="display:none;margin-top:10px;" placeholder="">
                                </div>
							</div>
                            <div class="form-group col-xs-12 terms">

                                <input type="checkbox" name="course_park_tc" id="course_park_tc" class="termsCheckBox">
                                <a href="" id="signupterms"></a>
                            </div>
                            <div class="form-group col-xs-12 " style="text-align:right;" id="registerbuttonrow">
                                <br clear="all">
                                <button name="bSignUp_en" id="signupbuttonregister" type="button" class="btn btn-success" onclick="validateForm('reg');"></button>
                            </div>
                        </div>
                        <div id="loginformblock">
                            <form id="loginForm" name="loginForm" method="post" action="">
                                <div class="form-group col-xs-12">
                                    <label id="signinemail"></label>
                                    <input name="email" type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group col-xs-12">
                                    <label id="signinpassword"></label>
                                    <input name="password" type="password" class="form-control" id="password">
                                    <a href="" id="forgotpassword"></a>
                                </div>
                                <div class="form-group col-xs-12" style="text-align:right;">
                                    <button name="bSignUp_en" id="signinbuttonlogin" type="button" class="btn btn-success" data-toggle="modal" data-target="#progress" data-backdrop="static" onclick="validateForm('login');"></button>
                                </div>
                                <div class="form-group col-xs-12">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-------------------------------------------------------------------- -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sponsor-logos col-xs-12 col-sm-12 col-md-10 col-lg-10  col-md-offset-1 col-lg-offset-1">
            
        </div>
    </div>
</div>