<p><strong>User License Agreement </strong></p>
<p><strong>For all users of the [DreamBuilder Program] on the Bluedrop360 Platform </strong> <br>
  This Agreement (&quot;Agreement&quot;) is between a user (&ldquo;you&rdquo; or &ldquo;user&rdquo;) of the DreamBuilder Program, a Learning Network (as defined in Section 1.8 below) on the Bluedrop360 platform;  Bluedrop Learning Networks Inc. (the &ldquo;Company&quot;), trading as Bluedrop Performance Learning; and Thunderbird For Good. </p>
<p><strong>1.0 Introduction </strong> <br>
  <strong>What is Bluedrop360? </strong> <br>
  1.1 Bluedrop360 is an online social learning network comprised of an on-demand learning management system, a network of Learning Networks (as defined in Section 1.8 below), a course library, and a set of related tools that allow organizations to host courses, manage training programs, and record learning records (&ldquo;Bluedrop360&rdquo;). The Company is the owner and operator of Bluedrop360. </p>
<p>1.2 Thunderbird for Good is utilizing Bluedrop360 to offer DreamBuilder - The Women&rsquo;s Business Creator to help women build their dream of starting or growing their business. </p>
<p><strong>Who is a Bluedrop360 User? </strong> <br>
  1.3 Any person or organization that views or accesses Content, as defined herein, within Bluedrop360 and establishes a member account. </p>
<p><strong>Use of Bluedrop360 and Acceptance of Terms and Conditions </strong> <br>
  1.4 <strong>ALL USERS MUST READ AND AGREE </strong>to the terms and conditions before they are granted access to <strong>Bluedrop360. </strong>Any person creating a member account will be explicitly asked to read and accept the terms of this Agreement. Use of Bluedrop360 constitutes acceptance of this Agreement and all users will be bound by this Agreement. If you do not agree to abide by the terms and conditions within this Agreement, you must not use Bluedrop360 or create a member account. The Company may change any of the terms in this Agreement at any time. Changes will become effective when the Company posts the modified Agreement on Bluedrop360. All users will be prompted to accept the modified Agreement on their next sign-in. If you do not agree to the changes, you may terminate your member account. Continued use of Bluedrop360 by you or any other user under your license constitutes acceptance of the terms of the modified Agreement. </p>
<p>1.5 Each user shall maintain a member account with a unique <strong>login name and password </strong>to access <strong>Bluedrop360</strong>. Both shall be kept strictly confidential and are not to be shared with any other individual, including other users. </p>
<p>1.6 Any user that is an organization with administrative access must <strong>appoint a representative </strong>to manage its <strong>Bluedrop360 </strong>learning network. This person, known as the Learning Network administrator, will be the organization&rsquo;s <strong>Bluedrop360 </strong>gatekeeper. He or she will have access to all services and information on the organization&rsquo;s account, and will be able to add and manage access for other users for the organization. The organization will choose an appropriate person, acceptable to the Company, acting reasonably, to fill the Learning Network administrator role. </p>
<p>1.7 Through the Learning Network administrator, the organization may set up <strong>additional users </strong>and provide the users with access to some or all of the organization&rsquo;s services and information on Bluedrop360<strong>. </strong></p>
<p><strong>What is a Learning Network? </strong> <br>
  1.8 A Learning Network is a secure online environment where administrators can invite and manage members, and view learning records. </p>
<p><strong>2.0 Thunderbird for Good Collection, Use, Disclosure and Ownership of Information </strong> <br>
  Thunderbird for Good is required to collect and maintain information related to its DreamBuilder programs and other courses offered on <strong>Bluedrop360</strong>. Thunderbird for Good works cooperatively with the State of Arizona to ensure compliance with State law.. Thunderbird for Good is also required to comply with the Canadian Privacy Act of 1974when performing activities related to the collection, use and disclosure of personal information. </p>
<p>2.1 All Content, as defined herein, captured in Bluedrop360 related to DreamBuilder is owned by Thunderbird for Good.</p>
<p>2.2 The DreamBuilder program training records created on Bluedrop360 may include the following information: <br>
  a) Name<br>
  b) Email address; <br>
  c) Zip code, phone number, and ID in select states and countries depending on requirements of the specific the learning network; and<br>
  c) List of training certificates, modules, and hours completed within the Dreambuilder program</p>
<p>2.3  Email and text messages will only be utilized to communicate information related to the DreamBuilder Program, including training reminders and password resets and will not be shared with third parties.</p>
<p>DreamBuilder users will have the option of indicating their preferred method of communication (email or text messages). If you are a trainee, by using Bluedrop360, you consent to receiving either email or text messages as set out in section 2.3. Trainees will only be sent communications directly related to their training unless he or she specifically consents to receipt of other communication. </p>
<p>2.4 Users will have the ability to update their personal information on Bluedrop360. Any user requesting a correction to their training records in Bluedrop360 should submit a request to support@Bluedrop360.com. </p>
<p>2.5 The staff at Thunderbird for Good who have responsibility for the administration and operation of the DreamBuilder program will have complete access to all Content, as defined herein, captured in Bluedrop360 in relation to the DreamBuilder program (except for the business plan content).</p>
<p>2.6 The staff at the Company with responsibility for support and maintenance of the system will have access to any services and information where it is required to maintain the integrity and security of the data and the system. </p>
<p>2.7 Any user with questions about the collection, use, and disclosure of training information by Thunderbird for Good may write to <a href="mailto:dreambuilder@thunderbird.edu">dreambuilder@thunderbird.edu</a>. .  </p>
<p><strong>3.0 Basic Terms </strong> <br>
  3.1 You are responsible for any activity that occurs under your member account. </p>
<p>3.2 You are responsible for keeping your password secure. </p>
<p>3.3 Your use of Bluedrop360 is subject to the Bluedrop360 Privacy Policy. </p>
<p>3.4 You must not abuse, harass, threaten, impersonate, or intimidate other users. </p>
<p>3.5 You are solely responsible for your conduct and for any data, text, information, screen names, graphics, photos, profiles, music, audio clips, audio and video clips, links and other material of any nature that you submit, upload, post, email, text, create, display, publish, and otherwise transmit using Bluedrop360 (&quot;Content&quot;). </p>
<p>3.6 You may not use Bluedrop360 and its services for any illegal or unauthorized purpose. All users, including International users, shall comply with all local laws regarding online conduct and acceptable Content. </p>
<p>3.7 You must not submit, upload, post, email, create, display, publish, or otherwise transmit Content that is unlawful, harmful, menacing, harassing, offensive, threatening, libellous, defamatory, false, vulgar, obscene, pornographic, invasive of another's privacy, racially, ethnically or otherwise objectionable. Content that promotes bigotry, racism, hatred or harm, causes damage or injury to another person or property, violates any party's intellectual property or other proprietary rights, constitutes unsolicited bulk e-mail or texts or violates applicable laws, ordinances or regulations of this Agreement (&ldquo;Objectionable Content&rdquo;). </p>
<p>3.8 You must not modify, adapt, or hack Bluedrop360 or modify another website so as to falsely imply that it is associated with Bluedrop360. </p>
<p>3.9 You must not submit, upload, post, email, create, display, publish, or otherwise transmit any Content that you do not have a right to transmit under any law or under any contractual or fiduciary relationship. </p>
<p>3.10 You must not submit, upload, post, email, create, display, publish, or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation. </p>
<p>3.11 You must not transmit any worms or viruses or any code of a destructive nature. </p>
<p>3.12 You must not use or attempt to use any deep link, scraper, robot, bot, spider, data mining, computer code or any other automated or manual device, program, tool, algorithm, process or methodology having any similar processes or functionality to access, acquire, copy, or monitor any portion of Bluedrop360, or any data or Content found on or accessed through Bluedrop360 without the express written consent of the Company. </p>
<p>3.13 You must not violate any measure employed to limit or prevent access to Bluedrop360 or its Content. </p>
<p>3.14 You must not violate the security of Bluedrop360 or attempt to gain unauthorized access to Bluedrop360 or any Content, or computer systems and networks through hacking, password mining or any other means. </p>
<p>3.15 You must not interfere or attempt to interfere with the proper working of Bluedrop360 or any activities conducted on or through Bluedrop360. </p>
<p>3.16 You must not take or attempt any action that, in the sole discretion of the Company, imposes or may impose what the Company deems to be an unreasonable or disproportionately large burden on Bluedrop360 or the infrastructure of Bluedrop360. </p>
<p>3.17 You must not, in the use of Bluedrop360, violate any laws in your jurisdiction (including but not limited to copyright laws). </p>
<p>3.18 By accessing Bluedrop360, you agree that all matters relating to your use of Bluedrop360 shall be governed by and construed in accordance with the laws of the State of Arizona, without giving effect to any principles of conflict of laws, and the federal laws of the United States of America applicable therein and that the courts sitting in the State of Arizona  shall have exclusive jurisdiction to resolve all disputes arising from the use of Bluedrop360 or otherwise in connection with this Agreement. </p>
<p>3.19 Your personal information shall only be collected, used, and disclosed in accordance with the terms of this Agreement and the Privacy Policy associated with Bluedrop360. </p>
<p>3.20 You or your training provider shall be responsible for obtaining and maintaining all telephones, network access computer hardware and software, and other equipment needed for your access and use of Bluedrop360 and for any/all charges related thereto. </p>
<p>3.21 You understand and agree that neither Thunderbird for Good nor the Company are responsible for the user Content posted on Bluedrop360 and that neither Thunderbird for Good nor the Company shall, under any circumstances, have any liability to you or any user arising out of or in any way in connection with the exposure of any user to Objectionable Content or any other Content. You acknowledge that you may be exposed to such materials and that you use Bluedrop360 at your own risk. </p>
<p>3.22 The Company will provide a means for you to report objectionable Content or behavior that is in violation of this Agreement. </p>
<p><strong>4.0 General Conditions </strong> <br>
  4.1 The Company and Thunderbird for Good each reserve the right to modify or terminate operation of, or your access to, the DreamBuilder program or Bluedrop360 or both for any reason, without notice at any time. </p>
<p>4.2 The Company and Thunderbird for Good reserve the right to alter this Agreement at any time. </p>
<p>4.3 The Company and Thunderbird for Good reserve the right to refuse access to the DreamBuilder program or Bluedrop360 to anyone for any reason at any time. </p>
<p>4.4 The Company may, but has no obligation to, remove Content and member accounts containing Content that either the Company or Thunderbird for Good determines in its sole discretion is Objectionable Content or is otherwise in breach of this Agreement. </p>
<p>4.5 Bluedrop360, its services, and Content are provided &quot;as is&quot; and without warranties of any kind either express or implied, including, but not limited to, implied warranties of merchantability or fitness for a particular purpose, or the warranty of non-infringement. </p>
<p>4.6 Neither the Company nor Thunderbird for Good warrants that Bluedrop360 or the DreamBuilder program will be available and/or uninterrupted or error free; nor does it make any warranty as to the results that may be obtained from your use of Bluedrop360, or as to the accuracy, reliability, completeness, or content of any information, third party website, software, Content, or merchandise that may be provided through Bluedrop360. </p>
<p>4.7 Neither the Company nor Thunderbird for Good exercises editorial control over Content distributed and published through Bluedrop360. Neither the Company nor Thunderbird for Good pre-screens third-party Content, such as items shared by partner organizations. The views and opinions expressed in such information do not necessarily reflect those of the Company, Thunderbird for Good, their employees, or their Content providers or licensors. Neither the Company, Thunderbird for Good, nor their Content providers or licensors make any warranties or representations regarding the accuracy, adequacy, truthfulness, completeness, or usefulness of such information. </p>
<p>4.8 Neither the Company nor Thunderbird for Good assumes responsibility for any Content or any material outside of Bluedrop360 which may be accessed through any hypertext or other computer links. </p>
<p>4.9 No statement, information or advice, including, but not limited to, statements regarding capacity, suitability for use or performance, whether made by a Company employee, a  Thunderbird for Good employee, or other representative or otherwise, which is not contained in this Agreement shall be deemed to be a warranty by the Company or Thunderbird for Good for any purpose or give rise to any liability of the Company or Thunderbird for Good whatsoever, and you agree that you will not rely on any such statement, information or advice. </p>
<p>4.10 The trademarks, logos, and service marks (&quot;Marks&quot;) displayed on Bluedrop360 are the property of either the Company or Thunderbird for Good. You are not permitted to use the Marks unless you have the prior written consent of the owner of the Marks. </p>
<p>4.11 The Company claims intellectual property rights over all Bluedrop360 documentation (such as help files, FAQs, on-screen text and help, demos, and other related materials), marketing materials, agreements, and other materials created and published by the Company for use by Bluedrop360 users. </p>
<p><strong>5.0 Copyright Terms and Conditions </strong> <br>
  Regardless of the source of ownership, the following general terms and conditions apply: <br>
  5.1 You expressly acknowledge and agree that Content stored on or provided using Bluedrop360 is protected by copyrights, trademarks, trade secrets, patents or other proprietary rights, as applicable (called &quot;Intellectual Property Rights&quot;), and that these Intellectual Property Rights, registered or otherwise, are valid and protected in all forms, media and technologies existing now or developed later, and that all right, title and interest in and to this Content, including but not limited to all Intellectual Property Rights, belongs solely and exclusively to the owner of the Content. Copying, republishing, or reproduction of any Content is strictly prohibited without the consent of the owner. </p>
<p>5.2 The Company and Thunderbird for Good will obey all relevant copyright laws. The Company will review claims of copyright infringement received and remove Content deemed by either the Company or Thunderbird for Good, in its discretion, to have been posted or distributed in violation of any such laws.<br>
   <br>
  <strong>6.0 Technical Viewing Requirements </strong> <br>
  6.1 Neither the Company nor Thunderbird for Good guarantees that Bluedrop360 will function in every browser and/or platform. Bluedrop360 will provide information about the recommended and/or minimum browser type, browser settings, plug-ins, and/or platform characteristics required to view a course. </p>
<p>6.2 It is your responsibility to check your computer and software configuration to determine whether you will be able to view Content prior to enrolling. </p>
<p><strong>7.0 Terms of Support </strong> <br>
  7.1 The Bluedrop360 support team will respond to questions regarding viewing issues and technical problems. The Company is however not responsible for supporting the accuracy of the Content itself, other than to remove Content in accordance with this Agreement. </p>
<p><strong>8.0 Termination of Accounts </strong> <br>
  <strong>Termination of User Accounts </strong><br>
  8.1 You may terminate your Bluedrop360 member account at any time and without cause. If you wish to modify or delete any personal information you submitted to Bluedrop360, you may do so by either modifying your profile or contacting us at support@Bluedrop360.com. <br>
  Upon your request, the Company will use commercially reasonable efforts to terminate your member account within fifteen working days from the date of the receipt of your request. </p>
<p>8.2 Either the Company or Thunderbird for Good may, in its sole and absolute discretion, and with or without notice, suspend your access to all or any part of Bluedrop360, or terminate this Agreement and your member account and thus your rights to use Bluedrop360, for any conduct or use (whether by you or anyone else having access under your member account) that the Company or Thunderbird for Good determines is a violation of this Agreement or for any other conduct or use that the Company or Thunderbird for Good determines is harmful to other Bluedrop360 users, Bluedrop360's Content providers, or to Bluedrop360 or the interests of the Company or Thunderbird for Good. </p>
<p>8.3 The termination process will include the following actions: </p>
<ul>
  <li>Deactivation of your member account from Bluedrop360; </li>
  <li>Termination of your access to all Content; </li>
  <li>Termination of all notifications to your email account or text messages; and </li>
  <li>Termination of your access to all Content that is protected by password restriction. </li>
</ul>
<p>8.4 As part of the termination process, the Company and/or Thunderbird for Good has the right to take the following actions at its discretion: </p>
<ul>
  <li>Deactivation of your membership and access to any/all Bluedrop360 Learning Networks; and</li>
  <li>Removal of contributions you have made to Bluedrop360 discussion forums, question/answer forums, comments, and ratings. </li>
</ul>
<p>8.5 Upon termination of your member account, the training records and training certification records will be maintained by Thunderbird for Good and the Company in accordance with Thunderbird for Good&rsquo;s retention and destruction policy. </p>
<p><strong>General Statement of Termination </strong> <br>
  8.6 It may be impossible to delete an account, course or training area without some residual information remaining in our system due to the presence of Company and/or Thunderbird for Good maintained backups and records of deletions. These backups and records of deletion will only be accessed if there is a legitimate business reason for data restoration, audit and/or investigation. The Company and Thunderbird for Good reserve the right not to delete information in order to comply with applicable local laws or regulations. </p>
<p><strong>9.0 Your Remedies </strong></p>
<p>9.1 The Company's and Thunderbird for Good&rsquo;s entire liability to you, and your sole and exclusive remedy, regarding the use of Bluedrop360 shall be the Company providing you with replacement of a Login Name(s) or Password(s) if a currently valid Login Name(s) or Password(s) fails to allow access to Bluedrop360. </p>
<p>9.2 Your sole right with respect to any disagreement or dissatisfaction with (a) this Agreement, as modified from time to time; (b) access to, use of, or performance of Bluedrop360, or (c) any Bluedrop360 Content, is to terminate your account as provided for in Section 8.1. </p>
<p><strong>10.0 Limitation of Liability </strong> <br>
  10.1 UNDER NO CIRCUMSTANCES, INCLUDING NEGLIGENCE OR BREACH OF CONTRACT OF THE COMPANY, Thunderbird for Good OR ANY THIRD PARTY, SHALL THE COMPANY OR Thunderbird for Good BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES THAT ARISE FROM LOSS OF ANTICIPATED REVENUE, LOSS OF INFORMATION OR MATERIAL OF ANY KIND, LOST PROFITS, LOSS OF BUSINESS AND INJURY TO PROPERTY, EVEN IF THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) THAT ARISE WITH OR RESULTING FROM YOUR USE OF OR INABILITY TO USE BLUEDROP360 INCLUDING, BUT NOT LIMITED TO, YOUR RELIANCE ON ANY MATERIALS, CONTENT, INFORMATION, WEBSITES, SOFTWARE OR PRODUCTS OBTAINED ON THE WEBSITE, OR MISTAKES, OMISSIONS, INTERRUPTIONS, COMMUNICATIONS FAILURE, DELETION OF FILES OR E-MAIL, ERRORS, DEFECTS, VIRUSES, TROJAN HORSES, DELAYS IN OPERATION OR TRANSMISSION, OR ANY FAILURE OF PERFORMANCE, OR THEFT, DESTRUCTION OR LOSS OF OR UNAUTHORIZED ACCESS TO YOUR RECORDS, INFORMATION, MATERIALS, PROGRAMS OR WEBSITES, OR AS A RESULT OF ANY COLLECTION, USE, DISCLOSURE, OR RETENTION OF ANY INFORMATION IN BLUEDROP360. </p>
<p><strong>Indemnification by You </strong> <br>
  10.2 You agree to defend, indemnify and hold harmless the Company and Thunderbird for Good from any claims and expenses related to any violation of this Agreement by your use of Bluedrop360, or in Bluedrop360 by your placement or transmission of any material on Bluedrop360, except as expressly authorized in this Agreement. </p>
<p><strong>11.0 Miscellaneous </strong> <br>
  11.1 You acknowledge that the Company and/or Thunderbird for Good may be irreparably harmed by any breach of this Agreement by you or by your unauthorized use of Bluedrop360 or its Content and, further, that monetary damages may not be a sufficient remedy for such harm. You agree that the Company and/or Thunderbird for Good shall be entitled, without waiving any other rights or remedies and without further demonstration of irreparable harm or the inadequacy of monetary damages, to obtain injunctive or other equitable relief in the event of any breach of this Agreement by you or by your unauthorized use of Bluedrop360 or its Content. </p>
<p>11.2 In addition to being a part of the subscription form, this Agreement with any modifications, resides on-line at Bluedrop360 under the Terms of Use link so that you may reference it at any time. </p>
<p>11.3 This Agreement, along with any other agreements which may be entered into between you and the Company or Thunderbird for Good or both in connection with your use of Bluedrop360 and the DreamBuilder Program, is the entire agreement between the Company, Thunderbird for Good, and you with respect to Bluedrop360. Headings in this Agreement are for your convenience only and do not have any legal meaning or effect. If any part of this Agreement is invalid, the rest of this Agreement will remain in effect. If the Company and/or Thunderbird for Good waives or fails to enforce any term or condition of this Agreement on any one or more occasions, whether by conduct or otherwise, its waiver or failure to enforce will not mean that it must waive or cannot enforce such term or condition on any other occasion, or any other term or condition of this Agreement. The meaning of this Agreement cannot be changed by your conduct, even if repeated, or by any custom or practice of others engaged in the same or similar businesses. </p>
<p>11.4 The Company can be contacted at Bluedrop Learning Networks Inc., 18 Prescott Street, St. John's, Newfoundland and Labrador, AIC 3S4, Canada. </p>
<p><em>Bluedrop360 Privacy Policy </em> <br>
  <strong>PLEASE READ THE FOLLOWING CAREFULLY </strong> <br>
  THIS DOCUMENT CONTAINS GENERAL INFORMATION ABOUT THE POLICY OF THIS WEBSITE IN ITS COLLECTION, PROTECTION, USE AND DISCLOSURE OF THE PERSONAL INFORMATION GATHERED ON THIS SITE. IF YOU ARE UNDER 19 YEARS OF AGE, READ THIS PRIVACY POLICY WITH YOUR PARENTS OR GUARDIAN AND ASK THEM QUESTIONS ABOUT WHAT YOU DON'T UNDERSTAND. </p>
<p><strong>Who We Are </strong> <br>
  Bluedrop360 (the &ldquo;Site&rdquo;) is an online social learning network comprised of an on-demand learning management system, a network of Learning Networks, a course library, and a set of related tools that allow organizations to host courses, manage training programs, and record learning records. The Site is owned and operated by Bluedrop Learning Networks Inc. (the &ldquo;Company&quot;). </p>
<p><strong>General Policy Statement </strong> <br>
  The Company recognizes the importance of explaining our privacy policy to users of our Site and protecting the privacy of personally identifiable information we collect through this site. Please note that this Privacy Policy may be revised from time to time, particularly to address changes in our business, our Site services, the law, or technology. If that happens, we will post the revised policy on our Privacy Policy page. Revisions are effective upon posting and your continued use of this Site will be subject to the revised terms. You will be prompted to accept the revised Privacy Policy on your next sign-in. Each time you visit the Site or provide information, by doing so you are accepting the terms of this Privacy Policy and any revisions in effect at that time. You agree that by using the Site you are expressly and affirmatively consenting to our collection, use and disclosure of the information that you provide and consenting to receive emails or text messages, as described below in this privacy policy. The Site does not collect personally identifiable information about a user, unless it is voluntarily provided to our Company  so that we can serve the user's needs and our legitimate business purposes as stated here. </p>
<p><strong>What Personal Information Does Bluedrop360 Collect From You? </strong> <br>
  In order to operate the Site and provide products and services and supply learning records, the Company requires users to maintain a member account with a Login name and password and collects information in accordance with the Agreement. </p>
<p>The Company may use a third party service to collect non-identifiable visitor information like IP addresses, browser types (such as Internet Explorer, Firefox, or Chrome), referring pages, pages visited and time spent on a particular site. The Company collects and uses this information solely for the following purposes: (1) for statistical analysis of web page traffic patterns; (2) to administer our Site and servers; (3) to allow for auditing of our services by some third parties who have that right; and (4) for internal purposes to make marketing decisions. This information shall not be used for any other purpose and shall not be disclosed to any other party other than Thunderbird for Good. </p>
<p><strong>How We Use and Disclose Information We Collect </strong> <br>
  The Company shall only use the information we collect in accordance with the Agreement and to fulfill our obligation to supply and support Bluedrop360 for the purposes of the DreamBuilder Program.</p>
<p>The Company shall only use email and text messages to communicate information related to the DreamBuilder Program including system generated notifications. <br>
  Trainees will only be sent communications directly related to their training unless he/she specifically consents to receipt of other communication. </p>
<p>The Company&rsquo;s policy is not to disclose personally identifiable information collected through this Site with third parties, except as outlined herein. However, the Company may disclose personally identifiable information (a) in response to a subpoena, court order or legal process, to the extent permitted and required by law; (b) to protect user security or the security of other persons, consistent with applicable laws; (c) in Bluedrop360 with a sale, joint venture or other transfer of some or all of the Company or the assets of the Company; or (d) in order to comply with and enforce this Agreement. We will not otherwise share, disclose or sell the personally identifiable information of users, except with the prior consent of the user or as required by law. Bluedrop360 will not be responsible or otherwise liable for any disclosure of your contact information to a third party to whom Bluedrop360 is allowed to disclose your contact information under this privacy policy. </p>
<p><strong>&nbsp;</strong></p>
<p><strong>How to Contact Us Regarding Privacy </strong> <br>
  If you have any questions or concerns about this privacy policy or would like to contact us regarding the information you have submitted to us, you can contact us at the following addresses: By email: support@Bluedrop360.com. </p>
<p>If, to the extent required by law or otherwise, we notify you that the security of the information you submit has been compromised, then you agree that we may give you such notice by email instead of by regular mail. </p>