<p><strong>Acuerdo de licencia de usuario</strong></p>
<p><strong>Para todos los usuarios del [programa DreamBuilder] en la plataforma Bluedrop360</strong><br>
  Este acuerdo (&quot;Acuerdo&quot;) se firma entre el usuario (&ldquo;usted&rdquo; o &ldquo;el usuario&rdquo;) del programa DreamBuilder, una red de aprendizaje (tal y como se define en la sección 1.8 más adelante) a través de la plataforma Bluedrop360; Bluedrop Learning Networks Inc. (la &ldquo;Empresa&quot;), bajo el nombre de Bluedrop Performance Learning; y Thunderbird For Good.</p>
<p><strong>1.0 Introducción</strong><br>
  <strong>¿Qué es Bluedrop360?</strong><br>
  1.1 BLuedrop360 es una red social de aprendizaje en línea que comprende un sistema de gestión de aprendizaje a petición, una red de redes de aprendizaje (como se define en la sección 1.8 más adelante), una biblioteca de cursos y un conjunto de herramientas relacionadas que permiten a las organizaciones alojar cursos, gestionar programas de formación y guardar registros de aprendizaje (&quot;Bluedrop360&quot;). La Empresa es la propietaria y la operadora de Bluedrop360.</p>
<p>1.2 Thunderbird for Good utiliza Bluedrop360 para ofrecer DreamBuilder - The Women&rsquo;s Business Creator que ayuda a las mujeres a hacer realidad su sueño de emprender o hacer crecer su propio negocio.</p>
<p><strong>¿Quién es usuario de Bluedrop360?</strong><br>
  1.3 Cualquier persona u organización que vea o acceda al Contenido, tal y como aquí se define, de Bluedrop360 y registre una cuenta como miembro.</p>
<p><strong>Uso de Bluedrop360 y aceptación de los términos y condiciones</strong><br>
  <strong>1.4 TODOS LOS USUARIOS DEBEN LEER Y DAR SU CONFORMIDAD</strong> con los términos y condiciones para que se les autorice a acceder a <strong>Bluedrop360</strong>. Cualquier persona que cree una cuenta de miembro deberá, explícitamente, leer y aceptar los términos de este Acuerdo. El uso de Bluedrop360 implica la aceptación de este Acuerdo y todos los usuarios estarán obligados a cumplirlo. Si no está dispuesto a acatar los términos y condiciones de este Acuerdo, no utilice Bluedrop360 ni se cree una cuenta de miembro. La Empresa puede cambiar cualquiera de los términos de este Acuerdo en cualquier momento. Los cambios se harán efectivos cuando la Empresa publique el Acuerdo modificado en Bluedrop360. Todos los usuarios serán instados a aceptar el Acuerdo modificado la siguiente vez que inicien sesión. Si no está de acuerdo con los cambios, puede cancelar su cuenta de miembro. Si usted o cualquier usuario cubierto por su licencia continúan utilizando Bluedrop360 estará aceptando los términos y condiciones del Acuerdo modificado.</p>
<p>1.5 Cada usuario debe poseer una <strong>cuenta de miembro con un nombre y contraseña de registro únicos</strong> para acceder a <strong>Bluedrop360</strong>. Ambos se mantendrán en la más estricta confidencialidad y no se compartirán con ningún otro individuo, incluido otros usuarios.</p>
<p>1.6 Cualquier usuario que sea una organización con acceso administrativo deberá <strong>designar a un representante</strong> para gestionar la red de aprendizaje <strong>Bluedrop360</strong>. Esta persona, conocida como el administrador de la red de aprendizaje, será el encargado de Bluedrop360 para la organización. Él o ella tendrá acceso a todos los servicios e información de la cuenta de la organización y podrá añadir y administrar el acceso de otros usuarios en nombre de la organización. La organización elegirá a la persona adecuada, aceptable para la Empresa, actuando razonablemente, para desempeñar la función de administrador de la red de aprendizaje.<br>
  1.7 A través del administrador de la red de aprendizaje, la organización podrá establecer <strong>usuarios adicionales</strong> y proporcionar a los usuarios acceso a algunos o a todos los servicios y la información de la organización en Bluedrop360.</p>
<p><strong>¿Qué es una red de aprendizaje?</strong><br>
  1.8 Una red de aprendizaje es un entorno seguro en línea donde los administradores pueden invitar y administrar a miembros así como ver los registros de aprendizaje.</p>
<p><strong>2.0 Recopilación, uso, divulgación y propiedad de la información de Thunderbird for Good Collection</strong><br>
  Thunderbird for Good debe recopilar y conservar la información relacionada con sus programas DreamBuilder y otros cursos ofrecidos a través de Bluedrop360. Thunderbird for Good trabaja en cooperación con el Estado de Arizona para garantizar el cumplimiento con la legislación local. Thunderbird for Good también está obligada a cumplir con la Ley de privacidad canadiense de 1974 cuando realiza actividades relacionadas con la recopilación, el uso y la divulgación de información personal.</p>
<p>2.1 Todo el Contenido, tal y como se define en este documento, almacenado en Bluedrop360 y relacionado con DreamBuilder es propiedad de Thunderbird for Good.</p>
<p>2.2 Los registros de formación del programa DreamBuilder creados en Bluedrop360 pueden incluir la siguiente información:<br>
  a) Nombre<br>
  b) Dirección de correo electrónico<br>
  c) Código postal, número de teléfono e ID en determinados países y Estados, según los requisitos de la red de aprendizaje específica, y<br>
  d) Lista de todos los certificados, módulos y horas completadas de formación en el programa DreamBuilder</p>
<p>2.3 Los mensajes de texto y de correo electrónico solo se utilizarán para comunicar información relacionada con el programa DreamBuilder, incluidos los recordatorios de formación y los mensajes de restablecimiento de contraseña y no se compartirán con terceros.</p>
<p>Los usuarios de DreamBuilder tendrán la opción de indicar su método de comunicación preferido (correo electrónico o mensajes de texto). Si es un alumno, al utilizar Bluedrop360 da su consentimiento para recibir mensajes de correo electrónico o de texto tal y como se describe en la sección 2.3. Los alumnos solo recibirán comunicaciones directamente relacionadas con su formación a menos que específicamente den su consentimiento para recibir otras comunicaciones.</p>
<p>2.4 Los usuarios podrán actualizar su información personal en Bludrop360. Cualquier usuario que desee solicitar la corrección de sus registros de formación en Bluedrop360 deberá remitir esa solicitud a support@Bluedrop360.com.</p>
<p>2.5 El personal de Thunderbird for Good encargado de la administración y funcionamiento del programa DreamBuilder tendrá acceso completo a todo el Contenido, tal y como aquí se define, guardado en Bluecrop360 en relación con le programa DreamBuilder (excepto al contenido sobre el plan de negocios).</p>
<p>2.6 El personal de la Empresa encargado del soporte técnico y el mantenimiento del sistema tendrá acceso a todos los servicios y a la información necesarios para mantener la integridad y seguridad de los datos y del sistema.</p>
<p>2.7 Cualquier usuario que tenga dudas sobre la recopilación, el uso y la divulgación de la información de formación que hace Thunderbird for Good podrá enviar un correo a dreambuilder@thunderbird.edu.</p>
<p><strong>3.0 Términos básicos</strong><br>
  3.1 Es usted responsable de toda la actividad que se produzca desde su cuenta de miembro.</p>
<p>3.2 Es usted responsable de mantener la seguridad de su contraseña.</p>
<p>3.3 Su uso de Bluedrop360 está sujeto a la Política de Privacidad de Bluedrop360.</p>
<p>3.4 No debe abusar, acosar, amenazar, usurpar la personalidad o intimidar a otros usuarios.</p>
<p>3.5 Usted es el único responsable de su conducta y de cualquier dato, texto, información, nombres de pantalla, gráficos, fotos, perfiles, música, clips de audio, clips de audio y vídeo, enlaces y cualquier otro material de cualquier naturaleza que envíe, cargue, envíe por correo ordinario, publique en línea, envíe por mensaje de texto, cree, muestre, publique o transmita de cualquier otro modo utilizando Bluedrop360 (&quot;Contenido&quot;).</p>
<p>3.6 No debe utilizar Bluedrop360 ni sus servicios para ningún fin ilegal o no autorizado. Todos los usuarios, incluidos los internacionales, deberán cumplir con la legislación local sobre la conducta y el Contenido aceptable en línea.</p>
<p>3.7 No debe enviar, cargar, publicar en línea, enviar por correo electrónico, crear, mostrar, publicar o transmitir de cualquier otro modo Contenido ilegal, dañino, amenazante, difamatorio, calumnioso, intimidatorio, falso, vulgar, obsceno, pornográfico, hostigador, que invada la privacidad de otros u ofensivo desde el punto de vista racial o étnico, o de cualquier modo inapropiado. Ni Contenido que promueva la intolerancia, el racismo el odio o cause daños o lesiones a otra persona o a la propiedad, viole la propiedad intelectual de terceros u otros derechos de propiedad, constituya transmisión de correos electrónicos o mensajes de texto no solicitados o infrinja la legislación, las directrices o la normativa del presente Acuerdo (&quot;Contenido inapropiado&quot;).</p>
<p>3.8 No debe modificar, adaptar o piratear Bluedrop360 ni modificar otro sitio web de manera que dé falsamente a entender que está asociado con Bluedrop360.</p>
<p>3.9 No debe enviar, cargar, publicar en línea, enviar por correo electrónico, crear, mostrar, publicar o transmitir de cualquier otro modo ningún Contenido que no esté autorizado a divulgar en virtud de cualquier legislación o relación contractual o fiduciaria.</p>
<p>3.10 No debe enviar, cargar, publicar en línea, enviar por correo electrónico, crear, mostrar, publicar o transmitir de cualquier otro modo material promocional o publicitario no autorizado o no solicitado, correo basura, spam, cadenas de correspondencia, esquemas de enriquecimiento piramidal o cualquier otra forma de requerimiento.</p>
<p>3.11 No debe transmitir gusanos o virus ni ningún tipo de código de naturaleza destructiva.</p>
<p>3.12 No utilizará ni intentará utilizar ningún enlace profundo, scraper, robot, bot, araña, extractor de datos, código informático o ningún otro dispositivo, programa, herramienta, algoritmo, proceso o método automático o manual que tenga procesos o funcionalidades similares para acceder, adquirir, copiar o rastrear cualquier parte de Bluedrop360 ni ningún dato o Contenido encontrado en Bluedrop360 o al que haya accedido a través de Bluedrop360 sin el consentimiento expreso por escrito de la Empresa.</p>
<p>3.13 No infringirá ninguna medida empleada para limitar o evitar el acceso a Bluedrop360 o a su Contenido.</p>
<p>3.14 No violará la seguridad de Bluedrop360 ni intentará obtener acceso no autorizado a Bluedrop360 o a su Contenido ni a las redes ni sistemas informáticos a través de actividades de pirateo, de extracción de datos de contraseñas ni de ningún otro modo.</p>
<p>3.15 No interferirá ni intentará interferir en el correcto funcionamiento de Bluedrop360 o de ninguna de las actividades llevadas a cabo en o a través de Bluedrop360.</p>
<p>3.16 No llevará ni intentará llevar a cabo ninguna acción que, a criterio único de la Empresa, imponga o pueda imponer lo que la Empresa considere una carga no razonable o desproporcionadamente grande sobre Bluedrop360 o sobre la infraestructura de Bluedrop360.</p>
<p>3.17 No debe, durante el uso de Bluedrop360, violar ninguna ley ni jurisdicción (incluido, pero no limitado a, las leyes de copyright).</p>
<p>3.18 Al acceder a Bluedrop360, muestra su conformidad con que todos los asuntos relacionados con su uso de Bluedrop360 se rijan e interpreten de acuerdo con las leyes del Estado de Arizona, sin generar conflictos de principios jurídicos, y por las leyes federales de los Estados Unidos de América aplicables; y con que los tribunales ubicados en el Estado de Arizona tengan jurisdicción exclusiva sobre cualquier disputa que resulte del uso de Bluedrop360 o surja de cualquier modo en relación con este Acuerdo.</p>
<p>3.9 Su información personal solo se recopilará, utilizará y divulgará de conformidad con los términos de este Acuerdo y la Política de Privacidad relacionada con Bluedrop360.</p>
<p>3.20 Usted o su proveedor de formación serán responsables de la obtención y el mantenimiento de todo el software y el hardware informático de acceso telefónico o mediante red y de cualquier otro equipo necesario para acceder a y utilizar Bluedrop360 así como de todos los cambios relacionados con ello.</p>
<p>3.21 Usted entiende y está de acuerdo con que ni Thuderbird for Good ni la Empresa sean responsables del Contenido del usuario publicado en Bluedrop360 y con que ni Thunderbird for Good ni la Empresa sean, bajo ninguna circunstancia, responsables frente usted o a cualquier usuario de ningún asunto derivado de o relacionado de cualquier manera con la exposición de cualquier usuario a Contenido inapropiado o a cualquier otro Contenido. Asume que puede verse expuesto a ese tipo de material y reconoce que usa Bluedrop360 bajo su responsabilidad.</p>
<p>3.22 La Empresa proporcionará los medios para que pueda denunciar el comportamiento o Contenido inapropiado que infrinja este Acuerdo.</p>
<p><strong>4.0 Condiciones Generales</strong><br>
  4.1 La Empresa y Thunderbird for Good se reservan el derecho a modificar o cesar el funcionamiento del, o su acceso al, programa DreamBuilder, a Bluedrop360 o a ambos por cualquier motivo sin previo aviso y en cualquier momento.</p>
<p>4.2 La Empresa y Thunderbird for Good se reservan el derecho a modificar este Acuerdo en cualquier momento.</p>
<p>4.3 La Empresa y Thunderbird for Good se reservan el derecho a denegar el acceso a al programa DreamBuilder o a Bluedrop360  a cualquiera por cualquier razón en cualquier momento.</p>
<p>4.4 La Empresa puede, sin estar obligada a, eliminar Contenido y cuentas de miembros que contengan Contenido que la Empresa o Thunderbird for Good, según su exclusivo criterio, consideren Contenido inapropiado o que infringe de cualquier otra manera este Acuerdo.</p>
<p>4.5 Bluedrop360, sus servicios y el Contenido se proporcionan &quot;tal cual&quot; y sin garantías de ningún tipo, implícitas o explícitas, incluido, pero no limitado a, garantías implícitas de comerciabilidad o adecuación a un fin particular o garantía de no infracción.</p>
<p>4.6 Ni la Empresa ni Thunderbird for Good garantizan que Bluedrop360 o el programa DreamBuilder estarán disponibles y/o no se interrumpirán o estarán libres de fallos. Ni ofrecen ninguna garantía respecto a los resultados que puedan obtenerse derivados de su uso de Bluedrop360, ni en cuanto a la precisión, fiabilidad, exactitud o contenido de ninguna información, sitios web de terceros, software, Contenido o artículos promocionales que puedan ofrecerse a través de Bluedrop360.</p>
<p>4.7 Ni la Empresa ni Thunderbird for Good ejercen control editorial sobre el Contenido distribuido y publicado a través de Bluedrop360. Así como tampoco la Empresa ni Thunderbird for Good preseleccionan el Contenido de terceros, como los elementos compartidos por las organizaciones asociadas. Las opiniones y los comentarios vertidos en tal información no tienen por qué reflejar los de la Empresa, Thunderbird for Good, sus empleados o sus proveedores de Contenido o licenciatarios. Ni la Empresa ni Thunderbird for Good ni sus proveedores de Contenido ni sus licenciatarios garantizan ni se responsabilizan de ninguna manera de la precisión, adecuación, veracidad, integridad o utilidad de tal información.</p>
<p>4.8 Ni la Empresa ni Thunderbird for Good asumen ninguna responsabilidad sobre ningún Contenido o material fuera de Bluedrop360 al que pueda accederse a través de un enlace de hipertexto o informático de otro tipo.</p>
<p>4.9 Ninguna declaración, información o sugerencia, incluido, pero no limitado a, declaraciones relacionadas con la capacidad o la adecuación del uso o rendimiento, realizadas tanto por un empleado de la Empresa como por un empleado de Thunderbird for Good u otro represente o de cualquier otra manera, que no forme parte de este Acuerdo se considerará como una garantía de la Empresa o de Thunderbird for Good a ningún efecto ni generará ninguna responsabilidad de la Empresa o de Thunderbird for Good de ninguna clase y usted manifiesta estar de acuerdo en no dar credibilidad a tales declaraciones, informaciones o sugerencias.</p>
<p>4.10 Las marcas comerciales, logos y marcas de servicio (&quot;Marcas&quot;) mostradas en Bludrop360 son propiedad o de la Empresa o de Thunderbird for Good. No está autorizado a utilizar las Marcas a menos que cuente con el consentimiento previo por escrito del propietario de las Marcas.</p>
<p>4.11 La Empresa posee los derechos de propiedad intelectual de toda la documentación de Bluedrop360 (como los archivos de ayuda, las preguntas frecuentes, el texto y la ayuda en pantalla, las demos y otro material relacionado), el material de marketing, los acuerdos y cualquier otro material creado y publicado por la Empresa para el uso de los usuarios de Bluedrop360.</p>
<p><strong>5.0 Términos y condiciones del Copyright</strong><br>
  Independientemente del origen de la propiedad, se aplicarán los siguientes términos y condiciones generales:<br>
  5.1 Usted reconoce expresamente y está de acuerdo con que el Contenido almacenado en o proporcionado en virtud del uso de Bluedrop360 está protegido por las leyes de copyright, las marcas comerciales, el secreto empresarial, las patentes u otros derechos de propiedad, según sea aplicable (denominados &quot;Derechos de Propiedad Intelectual&quot;), y que dichos Derechos de Propiedad Intelectual, registrados o de otra manera, son válidos y están protegidos en todas las formas, medios o tecnologías existentes hora mismo o desarrollados posteriormente y que todo derecho, titularidad e interés en ello y en este Contenido, incluido, pero no limitado, todos los Derechos de Propiedad Intelectual, pertenece única y exclusivamente al propietario del Contenido. Queda rigurosamente prohibido copiar, volver a publicar o reproducir cualquier Contenido sin el consentimiento del propietario.</p>
<p>5.2 La Empresa y Thunderbird for Good acatarán todas las leyes de copyright aplicables. La Empresa atenderá las reclamaciones de infracción de copyright recibidas y eliminará el Contenido cuya publicación o distribución, según el criterio exclusivo de la Empresa o de Thunderbird for Good, infrinja cualquiera de estas leyes.</p>
<p><strong>6.0 Requisitos técnicos para la visualización</strong><br>
  6.1 Ni la Empresa ni Thunderbird for Good garantizan que Bluedrop360 funcionará en todos los navegadores y/o plataformas. Bluedrop360 proporcionará información sobre los requisitos de tipo de navegador, plug-ins y/o características de la plataforma mínimos y/o recomendados para ver el curso.</p>
<p>6.2 Es su responsabilidad comprobar la configuración de software y su ordenador para determinar si tiene capacidad para ver el Contenido antes de suscribirse.</p>
<p><strong>7.0 Condiciones de soporte técnico</strong><br>
  7.1  El equipo de soporte técnico de Bluedrop360 responderá a sus preguntas relacionadas con problemas de visualización y técnicos. La Empresa, no obstante, no se responsabiliza de la precisión del Contenido en sí mismo de otra manera que no sea eliminarlo en los términos dispuestos en el presente Acuerdo.</p>
<p><strong>8.0 Cancelación de cuentas</strong><br>
  8.1 Puede cancelar su cuenta Bluedrop360 en cualquier momento y por cualquier motivo. Si desea modificar o eliminar cualquier información personal que haya enviado a Bluedrop360, puede hacerlo modificando su perfil o poniéndose en contacto con nosotros en<br>
  8.1 Puede cancelar su cuenta Bluedrop360 en cualquier momento y por la razón que sea. Si desea modificar o eliminar cualquier información personal que haya facilitado a Bluedrop360, podrá hacerlo o bien a través de la modificación de su perfil, o bien poniéndose en contacto con nosotros a través del correo support@Bluedrop360.com.<br>
  Si así lo solicita, la Empresa hará todos los esfuerzos comercialmente posibles para cancelar su cuenta de miembro en un plazo de quince días laborables desde la fecha de recepción de su solicitud.</p>
<p>8.2 Tanto la Empresa como Thunderbird for Good podrán, a su exclusivo criterio, y con o sin aviso, cancelar su acceso a todo o a parte de Bluedrop360, así como poner fin a este Acuerdo y cancelar su cuenta de miembro y, con ella, sus derechos de uso de Bluedrop360 por cualquier conducta o uso (suyos propios o de cualquier otra persona con acceso mediante sus credenciales de miembro) que la Empresa o Thunderbird for Good determinen como una infracción de este Acuerdo o por cualquier otra conducta o uso que la Empresa o Thunderbird for Good consideren perjudicial para otros usuarios de Bluedrop360, los proveedores de Contenido de Bluedrop360 o los intereses de la Empresa o Thunderbird for Good.</p>
<p>8.3 El proceso de cancelación constará de las siguientes medidas:<br>
  Desactivación de su cuenta de miembro de Bluedrop360;<br>
  Cancelación de su acceso a todo el Contenido;<br>
  Cancelación de todas las notificaciones a su cuenta de correo electrónico o de los mensajes de texto; y<br>
  Cancelación de su acceso a todo el Contenido protegido mediante restricción de contraseña.</p>
<p>8.4 Como parte del proceso de cancelación, la Empresa y/o Thunderbird for Good ´tienen derecho a tomar las siguientes medidas a su exclusiva discreción:<br>
  Desactivación de su suscripción de miembro y de su acceso a parte o a todas las redes de aprendizaje Bluedrop360; y<br>
  Eliminación de las contribuciones que haya hecho a los foros de debate, foros de preguntas/respuestas, los comentarios y las valoraciones en Bluedrop360.</p>
<p>8.5  Tras la cancelación de su cuenta de miembro, Thunderbird for Good y la Empresa conservarán sus registros y certificados de formación de conformidad con la política de conservación y destrucción de Thunderbird for Good.</p>
<p>Declaración de cancelación general<br>
  8.6 Puede no ser posible eliminar una cuenta, un curso o un área de formación sin que quede ningún registro residual en nuestro sistema debido a la presencia de copias de seguridad y registros de eliminaciones de la Empresa y/o Thunderbird for Good. A estas copias de seguridad y registros de eliminaciones solo podrá accederse por motivos comerciales legítimos relacionados con la restauración de datos, las auditorías y/o la investigación. La Empresa y Thunderbird for Good se reservan el derecho a no eliminar la información a fin de cumplir con la legislación o la reglamentación local aplicable.</p>
<p><strong>9.0 Sus recursos</strong></p>
<p>9.1 La única responsabilidad de la Empresa y Thunderbird for Good frente a usted, y su único y exclusivo recurso relacionado con el uso de Bluedrop360, es que la Empresa le proporcione nombres y contraseñas de registro en sustitución en caso de que una contraseña y un nombre de registro válidos no le permitan acceder correctamente Bluedrop360.</p>
<p>9.2 Su único derecho en caso de que esté en desacuerdo o insatisfecho con (a) este Acuerdo y sus modificaciones periódicas; (b) el acceso a, el uso de o el rendimiento de Bluedrop360, o (c) cualquier Contenido de Bluedrop360 es cancelar su cuenta en los términos previstos en la sección 8.1.</p>
<p><strong>10.0 Limitación de responsabilidad</strong><br>
  10.1 BAJO NINGUNA CIRCUNSTANCIA, INCLUIDA LA NEGLIGENCIA O LA VIOLACIÓN DE ESTE CONTRATO POR PARTE DE LA EMPRESA, de Thunderbird for Good O DE TERCEROS, LA EMPRESA o Thunderbird for Good SERÁN RESPONSABLES FRENTE A USTED O FRENTE A NADIE MÁS POR NINGÚN DAÑO, INCLUIDO, PERO NO LIMITADO A, DAÑOS DIRECTOS, INDIRECTOS, ESPECIALES, INCIDENTALES, PUNITIVOS, EJEMPLARES O CONSECUENCIALES (INCLUIDOS LOS DAÑOS DERIVADOS DE LA PÉRDIDA DE INGRESOS PREVISTOS, PÉRDIDA DE INFORMACIÓN O MATERIAL DE CUALQUIER NATURALEZA, PÉRDIDA DE BENEFICIOS, PÉRDIDA DE NEGOCIO O DAÑOS A LA PROPIEDAD, INCLUSO SI LA EMPRESA HA SIDO ADVERTIDA DE LA POSIBILIDAD DE TALES DAÑOS) DERIVADO O QUE SE PRODUZCA COMO RESULTADO DE SU USO O SU USO INCORRECTO DE BLUEDROP360 INCLUIDO, PERO NO LIMITADO A, SU CONFIANZA EN CUALQUIER MATERIAL, CONTENIDO, INFORMACIÓN, SITIO WEB, SOFTWARE O PRODUCTOS OBTENIDOS EN EL SITIO WEB; O DE ERRORES DE OMISIÓN, INTERRUPCIONES, FALLO DE LAS COMUNICACIONES, ELIMINACIÓN DE ARCHIVOS O CORREO ELECTRÓNICO, ERRORES, DEFECTOS, VIRUS, TROYANOS, RETRASSOS DE FUNCIONAMIENTO O TRANSMISIÓN O CUALQUIER FALLO DE FUNCIONAMIENTO, O DE ROBO, DESTRUCCIÓN O PÉRDIDA DE ACCESO O ACCESO NO AUTORIZADO A SUS REGISTROS, INFORMACIÓN, MATERIALES, PROGRAMAS O SITIOS WEB, O COMO RESULTADO DE LA RECOPILACIÓN, EL USO, LA DIVULGACIÓN O LA CONSERVACIÓN DE CUALQUIER INFORMACIÓN EN BLUEDROP360.</p>
<p><strong>Indemnización a su cargo</strong><br>
  10.2 Usted se compromete a defender, indemnizar y mantener indemne a la Empresa y a Thunderbird for Good de toda responsabilidad frente a reclamaciones y gastos relacionados con cualquier violación de este Acuerdo derivada de su uso de Bluedrop360, o en Bluedrop360 por su publicación o transmisión de cualquier material en Bluedrop360, excepto en lo explícitamente autorizado por este Acuerdo.</p>
<p><strong>11.0 Miscelánea</strong><br>
  11.1 Reconoce que la Empresa y/o Thunderbird for Good pueden sufrir daños irreparables por causa de la violación de este Acuerdo por usted o el uso no autorizado que haga de Bluedrop360 o de su Contenido y, además, que la indemnización económica por daños puede no ser suficiente solución para reparar ese daño. Acepta que la Empresa y/o Thunderbird for Good tienen derecho, sin perjuicio de otros derechos o indemnizaciones o sin que sea necesario demostrar el daño irreparable o la inadecuación de la indemnización económica por daños, a reclamar medidas cautelares o compensación equitativa en caso de infracción del presente Acuerdo por su parte o por su uso no autorizado de Bluedrop360 o su Contenido.</p>
<p>11.2 Además de formar parte del formulario de suscripción, este Acuerdo, con cualquier modificación, está alojado en línea en Bluedrop360, en el enlace de términos de uso para que le sirva de referencia y pueda consultarlo en cualquier momento.</p>
<p>11.3 Este Acuerdo, junto con cualesquiera otros que pudieran suscribirse entre usted y la Empresa o Thunderbird for Good o ambos en relación con su uso de BLuedrop360 y el programa DramBuilder, constituye el Acuerdo completo entre la Empresa, Thunderbird for Good y usted con respecto a Bludrop360. Los títulos de este acuerdo son para su comodidad únicamente y no tienen ningún valor ni efecto legal. Si cualquier parte de este Acuerdo no es válida, el resto del Acuerdo conservará su vigencia. Si la Empresa y/o Thunderbird for Good renuncia a o no cumple alguno de los términos o condiciones de este Acuerdo en una o varias ocasiones, ya sea por conducta o de otro modo, su renuncia a cumplir o su incumplimiento no significará que deba renunciar a cumplir o no tenga capacidad para cumplir dicho término o condición en cualquier otra ocasión o cualquier otro término o condición del presente Acuerdo. El significado de este Acuerdo no podrá cambiarse por su conducta, aun repetida, o por ninguna costumbre o práctica de otros implicados en el mismo negocio o similares.</p>
<p>11.4 Puede ponerse en contacto con la empresa en Bluedrop Learning Networks Inc., 18 Prescott Street, St. John's, Newfoundland and Labrador, AIC 3S4, Canada.</p>
<p><em>Política de privacidad de Bluedrop360</em><br>
  <strong>LEA ATENTAMENTE LO SIGUIENTE</strong><br>
  ESTE DOCUMENTO CONTIENE INFORMACIÓN GENERAL SOBRE LA POLÍTICA DE ESTE SITIO WEB EN RELACIÓN CON LA RECOPILACIÓN, PROTECCIÓN, USO Y DIVULGACIÓN DE LA INFORMACIÓN PERSONAL RECOGIDA EN ESTE SITIO. SI ES MENOR DE 19 AÑOS, LEA ESTA POLÍTICA DE PRIVACIDAD CON ALGUNO DE SUS PROGENITORES O SU TUTOR LEGAL Y PREGÚNTELES LAS DUDAS SOBRE LO QUE NO ENTIENDA.</p>
<p><strong>Quiénes somos</strong><br>
  Bluedrop360 (el &quot;Sitio&quot;) es una red social de aprendizaje en línea que comprende un sistema de gestión de aprendizaje a petición, una red de redes de aprendizaje, una biblioteca de cursos y un conjunto de herramientas relacionadas que permiten a las organizaciones alojar cursos, gestionar programas de formación y guardar registros de aprendizaje. El Sitio es propiedad de y está controlado por Bluedrop Learning Networks Inc. (la &ldquo;Empresa&quot;).</p>
<p><strong>Declaración de política general</strong><br>
  La Empresa reconoce la importancia de explicar nuestra política de privacidad a los usuarios de nuestro Sitio así como de proteger la privacidad de la información de identificación personal que recopilamos a través de nuestro Sitio. Tenga en cuenta que esta Política de Privacidad puede ser objeto de revisiones periódicas, en particular, por cambios de dirección en nuestras empresas, nuestros servicios en el Sitio, la legislación o la tecnología. Si eso ocurre, publicaremos la política revisada en nuestra página de Política de Privacidad. Las revisiones son efectivas en el momento en que se publican y su uso continuado del Sitio estará sujeto a los términos revisados. Se le pedirá que acepte la Política de Privacidad revisada en su siguiente inicio de sesión. Cada vez que visite el Sitio o proporcione información estará aceptando los términos de esta Política de Privacidad y de sus revisiones vigentes en ese momento. Está de acuerdo en que mediante el uso del Sitio está dando su consentimiento expreso para que recopilemos, usemos y divulguemos la información que nos proporcione, así como para recibir corros electrónicos o mensajes de texto en los términos descritos más adelante en esta Política de Privacidad. El Sitio no recopila información de identificación personal sobre el usuario a menos que este la proporcione voluntariamente a nuestra Empresa para poder atender mejor a sus necesidades y a los legítimos fines de nuestra empresa, descritos aquí.</p>
<p><strong>¿Qué información personal recopila Bluedrop360 sobre usted?</strong><br>
  Con el fin de garantizar el funcionamiento del Sitio y de proporcionar productos y servicios, así como registros de aprendizaje, la Empresa requiere que los usuarios mantengan una cuenta de miembro con un nombre y una contraseña de registro y recopila información de conformidad con el presente Acuerdo.<br>
  La Empresa puede utilizar servicios de terceros para recopilar información no identificable sobre los visitantes como direcciones IP, tipos de navegador (Internet Explorer, Firefox o Chrome), páginas de referencia, páginas visitadas o el tiempo pasado en un sitio particular. La Empresa recopila y utiliza esta información únicamente para los siguientes fines: (1) para análisis estadísticos de patrones de tráfico de páginas web; (2) para administrar nuestro Sitio y los servidores; (3) para permitir la auditoría de nuestros servicios por terceros autorizados a ello; y (4) para fines internos, para tomar decisiones de marketing. Esta información no se utilizará para ningún otro fin ni se divulgará a terceros que no sean Thunderbird for Good.</p>
<p><strong>Cómo utilizamos y divulgamos la información que recopilamos</strong><br>
  La Empresa solo utilizará la información recopilada según los términos del Acuerdo y en cumplimiento de nuestra obligación de prestar servicio y soporte técnico a Bluedrop360 para los fines del programa DreamBuilder.</p>
<p>La Empresa solo enviará correos electrónicos y mensajes de texto para comunicar información relacionada con el programa DreamBuilder, incluidas las notificaciones generadas por el sistema.<br>
  Los alumnos solo recibirán comunicaciones directamente relacionadas con su formación a menos que específicamente consientan en recibir otras comunicaciones.<br>
  La política de la Empresa es no divulgar información de identificación personal recopilada a través de este Sitio a terceros, excepto en los casos descritos. No obstante, la Empresa puede divulgar información de identificación personal (a) en respuesta a una citación, orden judicial o proceso legal en la medida permitida y exigida por la ley; (b) para proteger la seguridad del usuario o de otras personas, de conformidad con las leyes aplicables; (c) en Bluedrop360 con una venta, unión de empresas u otro tipo de transferencia de varios o todos los activos de la Empresa o de parte o toda la Empresa, (d) en cumplimiento y ejecución del presente Acuerdo. No compartiremos, divulgaremos o venderemos de ninguna otra forma información de identificación personal de los usuarios, excepto con el consentimiento previo del usuario o de conformidad con lo exigido por la ley. Bluedrop360 no será responsable ni aceptará responsabilidad alguna por cualquier divulgación de su información de contacto a terceros a quienes Bluedrop360 esté autorizado a divulgar su información de contacto en virtud de esta Política de Privacidad.</p>
<p><strong>Cómo ponerse en contacto con nosotros por asuntos relacionados con la Privacidad</strong><br>
  Si tiene alguna duda o preocupación relacionada con esta política de privacidad o le gustaría ponerse en contacto con nosotros en relación con la información que nos ha enviado, puede ponerse en contacto con nosotros en las direcciones siguientes: Por correo electrónico: support@Bluedrop360.com.<br>
  Si, en la medida de lo exigido por la ley o de otro modo, le notificamos que la seguridad de la información que nos ha proporcionado se ha visto comprometida, presta su consentimiento para que le enviemos dicha notificación por correo electrónico en lugar de por correo ordinario.</p>