<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/lodash.js"></script>
<script src="js/questions.js"></script>
<script src="js/postrobot.js"></script>
<script>
var userId, token;
var listener = postRobot.listener({window: window.parent});

try {
	var USER_TOKEN_KEY = 'bln:auth:user-token';
	var authUserToken = JSON.parse(window.localStorage.getItem(USER_TOKEN_KEY));
	token = 'bln type=session,version=1,token=' + authUserToken.sessionToken;
} catch (ex) {
	token = 'Bearer ' + window.localStorage.getItem("blnp.accessToken");
	if (!token) {
		token = 'Bearer ' + JSON.parse(window.localStorage.getItem("blnp.accessToken"));
	}
}

listener.on('init', function(event) {
	return User.get(token).then(function(res) {
		userId = res.id;
    });
});

listener.on('Question.get', function(event) {
	return Question.get(userId, token);
});

listener.on('Question.save', function(event) {
	return Question.save(userId, token, event.data.questionKey, event.data.answer);
});
</script>
