body {
  
    background: rgba(0, 0, 0, 0) url("/_client/images/db-program-bg.jpg") no-repeat scroll 0 0 / cover ;
}

.sponsor-logos {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    border-top: 6px solid #fb8f07;
    margin-top: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.form-block-program {
    background:#ffffff;
    background: #00abba;
    border-radius:10px;
    padding-top:10px;
	margin-bottom:35px;
}
.terms, .terms a  {
    color:#666;
    font-size:10px;
}
.form-group button {
    box-shadow:2px 2px 2px rgba(0,0,0,.45);
    background: #b2ca4b; /* Old browsers */
background: -moz-linear-gradient(top,  #b2ca4b 0%, #719125 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2ca4b), color-stop(100%,#719125)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b2ca4b 0%,#719125 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b2ca4b 0%,#719125 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b2ca4b 0%,#719125 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b2ca4b 0%,#719125 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2ca4b', endColorstr='#719125',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    border-top:1px solid #c0d467;
    border-left:1px solid #c0d467;
    border-right:1px solid #658123;
    border-bottom:1px solid #658123;
    box-shadow:2px 2px 2px rgba(0,0,0,.45);
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,.45);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.45);
}
.regswitch {
    padding-left:0;
    padding-right:0;
}
.regswitch ul.nav-tabs {
    border-bottom:1px solid #666;
    padding-right:3px;
     
}
.regswitch ul.nav-tabs li {
    float:right;
 
}
.regswitch ul.nav-tabs li a {
    background: #e4e4e4;
    border:none;

    color: #007b86;
    text-decoration: none;
}
.regswitch ul.nav-tabs li.active a {
    
    background-color:#f4f4f4;
    color:#666;
}
.regswitch ul.nav-tabs li {
    background:#eee ;
    border:1px solid #666;
    
    color:#aaa;
    margin-right:1px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
.formborder {
    border-left:1px solid #666;
    border-right:1px solid #666;
    border-bottom:1px solid #666;
    background:#f4f4f4;
    padding-top:10px;
    padding-bottom:7px;

}

.regswitch ul.nav-tabs li.formtitle {
    font-size:26px;
    color:#333;
    color:#fff;
    float:left;
    margin-top:-3px;
    background:none;
    border:none;
    text-shadow: 2px 2px 2px rgba(0,0,0,.45);
}

.sprite-spinner {
    overflow: hidden;
    position: relative;
    display:inline-block;
    text-align:left;
    height:135px;
    width:150px;
}
.sprite-spinner img {
    position:absolute;
}
.spinner-wrap {
    text-align:center;
    margin:100px auto;
}
.form-block label, .form-block a {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}
#loading-text {
    font-size:30px;
    color:#ccc;
    margin-top:40px;
}
#loadingControl .modal-body {
    text-align:center;
}
#loadingControl .modal-content {
    background:none;
    box-shadow:none;
    border:none;
}
#loadingControl img {
    border-radius: 80px;
    padding:10px;
}
.loadingdisplay {
    width:100%;
    min-height:50px;
    padding-top:7px;
    background: #000;
    border-radius:15px;
    font-size:24px;
    color:#aaa;
    box-shadow:4px 4px 4px #000;
    margin-top:25px;
}
.program-body {
    background:url('../images/db-program-bg.jpg') no-repeat;
    background-size:cover;
}
.program-logo {
    margin-top:60px;
} 
.autocomplete-suggestions {
    background:#fff;
    padding:7px;
}
.autocomplete-suggestion {
    padding:3px;
}
.autocomplete-suggestion:hover {
    background:#e4e4e4;
    cursor:pointer;
}
#region-filter {
	display:none;
}