body {
    padding-bottom: 100px;
    background: #333 url("../images/db-landingpage-bg.jpg") no-repeat center -100px;
	
	overflow: scroll !important;
}

.dbmain {}

.dbnav {
    background: #fff;
    height: 95px;
    border: none;
    box-shadow: 3px 3px 15px #333;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 8px solid #00abba;
}

.pageheader {
    background: #fff;
    border-bottom: 10px solid #00abba;
    padding: 15px;
}

.form-logo-block {
    margin-bottom: 10%;
    background: #fff;
    margin-top: 20%;
    border-top: 5px solid #00abba;
	
}

.sponsor-logos {
    background: #fff;
    padding-top: 10px;
    border-top: 6px solid #fb8f07;
    text-align: center;
    padding-bottom: 10px;
}

.sponsor-logos img {}

.sponsor-text {
    color: #ccc;
    font-size: 10px;
    margin-bottom: 7px;
}

.logo-block {
    background: #fff;
    display: table-cell;
    text-align: center;
    height: 300px;
    vertical-align: bottom;
    margin: 0;
}

.logo-block img {
    display: block;
    width: 100%;
    margin-top:5%;
	max-height:300px;
}
.as-logo img {
	margin-top: 25%;
}
#loginformblock {
    display: none;
}

.form-block {
    background: #00abba;
    padding-bottom: 32px;
    min-height: 330px;
}

.form-block .form-control {
    height: 28px;
    padding: 5px 4px;
    font-size: 12px;
}

.form-block select {
    font-size: 12px;
}

.form-block label {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}

.form-block a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.form-block .form-group {
    margin-bottom: 5px;
}
.terms {
/*	margin-top:25px;*/
}
.terms,
.terms a {
    color: #fff;
    font-size: 10px;
}

.form-group button {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    background: #b2ca4b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b2ca4b 0%, #719125 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2ca4b), color-stop(100%, #719125));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2ca4b 0%, #719125 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2ca4b 0%, #719125 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2ca4b 0%, #719125 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #b2ca4b 0%, #719125 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b2ca4b', endColorstr='#719125', GradientType=0);
    /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #c0d467;
    border-left: 1px solid #c0d467;
    border-right: 1px solid #658123;
    border-bottom: 1px solid #658123;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}

.regswitch {
    padding-left: 0;
    padding-right: 0;
}

.regswitch ul.nav-tabs {
    border-bottom: 1px solid #fff;
    padding-right: 3px;
}

.regswitch ul.nav-tabs li {
    float: right;
}

.regswitch ul.nav-tabs li.active a {
    background-color: #0098a5;
    color: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #0098a5;
}

.regswitch ul.nav-tabs li a {
    background: #00a8b7;
    border-color: #007b86;
    border-bottom: 1px solid #fff;
    color: #007b86;
    text-decoration: none;
}

.formborder {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #0098a5;
    padding-top: 10px;
    padding-bottom: 7px;
}

.regswitch ul.nav-tabs li.formtitle {
    font-size: 26px;
    color: #fff;
    float: left;
    margin-top: -3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
}
/*LOADER STYLES ------------------------------ */
.sprite-spinner {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: left;
    height: 135px;
    width: 150px;
}

.sprite-spinner img {
    position: absolute;
}

.spinner-wrap {
    text-align: center;
    margin: 100px auto;
}

#loading-text {
    font-size: 30px;
    color: #ccc;
    margin-top: 40px;
}

#loadingControl .modal-body {
    text-align: center;
}

#loadingControl .modal-content {
    background: none;
    box-shadow: none;
    border: none;
}

#loadingControl img {
    border-radius: 80px;
    padding: 10px;
}

.loadingdisplay {
    width: 100%;
    min-height: 50px;
    padding-top: 7px;
    background: #000;
    border-radius: 15px;
    font-size: 24px;
    color: #aaa;
    box-shadow: 4px 4px 4px #000;
    margin-top: 25px;
}

#member-filters,
#region-filter {
    display: none;
}
/*POST CARD STYLES ------------------------------ */
.postcard {
    background: url("/_client/images/postcard-back.jpg");
/*    font-family: 'Indie Flower', cursive;*/
    height: 483px;
    width: 700px;
    padding-left: 40px;
    padding-top: 40px;
    overflow: hidden;
	border-radius:12px;
}

.postcard p {
    width: 490px;
    font-size: 12px;
}

.alma {
    margin-left: -35px;
    margin-top: 13px;
    float: left;
}

.alma img {
    height: 175px;
}

.address {
    font-size: 24px;
    float: left;
    margin-left: 190px;
	text-align: center;
	width:280px;
	margin-top:-40px;
}
.address input {
	margin-bottom:10px;
}
.address button {
	margin-top:5px;

	
}
.address hr {
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px solid #999;
}
/* TERMS -------------- */
#termsconditions, #videopopup {
	background:rgba(0,0,0,0.6);
}

#termsHolder {
	display:block;
	word-wrap:normal;
	background:#f4f4f4;
	height:385px;
	overflow: scroll;
	padding:20px;
}
#termsHolder p {
	line-height:16px;
	font-size:12px;
	font-family:arial, sans;

}
.modal-header {
	background:#337AB7;
	color:#f4f4f4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}
.modal-footer {
	background:#f4f4f4;
	color:#f4f4f4;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}
#videoHolder {
	background:#fff;
	width:auto;
}
.autocomplete-suggestions {
	background-color: #fff;
	padding:5px;
	height:175px;
	overflow-y: scroll;
}
p.extraNotice {
	padding:15px 15px 0px 15px;
	font-size:11px;
	float:left;
}
#impNotice {
    position: fixed;
    bottom: 0;
    background: #c4c4c4;
    width: 90%;
    text-align: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 15px #333;
}
#impClose {
    position: absolute;
    top: 1px;
    right: 4px;
    font-size: 30px;
    cursor:pointer;
}