
body {
	font-family: Verdana, Arial, sans-serif;
}

h5 {
	font-size: 1rem;
}

.main{					margin-bottom: 80px; }
.fixed{					position: fixed; }

.accordion-holder{
	background: #d5edf2;
	margin: 15px 20px 10px 0;
	overflow-y: scroll;

	padding: 15px 25px;
	border-radius: 5px;
	border: 1px solid #bedee5;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px lightgrey;
		-moz-box-shadow: 3px 3px 3px lightgray;
			box-shadow: 3px 3px 3px lightgrey;
}

.card-header{
	padding-left: 30px;
	background: linear-gradient(bottom, #8FB53E 0%, #85A93C 50%, #8DB43E 50%, #8EB63E 100%);
	background: -o-linear-gradient(bottom, #8FB53E 0%, #85A93C 50%, #8DB43E 50%, #8EB63E 100%);
	background: -moz-linear-gradient(bottom, #8FB53E 0%, #85A93C 50%, #8DB43E 50%, #8EB63E 100%);
	background: -webkit-linear-gradient(bottom, #8FB53E 0%, #85A93C 50%, #8DB43E 50%, #8EB63E 100%);
	background: -ms-linear-gradient(bottom, #8FB53E 0%, #85A93C 50%, #8DB43E 50%, #8EB63E 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8FB53E), color-stop(0.5, #85A93C), color-stop(0.5, #8DB43E), color-stop(1, #8EB63E));
	-moz-box-shadow: inset 0px 1px #c6da9d, inset 1px 0 #a0c15b, inset 0 -1px #a0c15b, inset -1px 0 #a0c15b, 1px 1px #c7c7c7;
	-webkit-box-shadow: inset 0px 1px #c6da9d, inset 1px 0 #a0c15b, inset 0 -1px #a0c15b, inset -1px 0 #a0c15b, 1px 1px #c7c7c7;
	box-shadow: inset 0px 1px #c6da9d, inset 1px 0 #a0c15b, inset 0 -1px #a0c15b, inset -1px 0 #a0c15b, 1px 1px #c7c7c7;
	border: 1px solid #8cb047;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.card .card .card-header {
	padding: 0.5rem 0.5rem 0.5rem 30px;
	background: linear-gradient(bottom, #0bcddd 0%, #0bbac8 50%, #0fc4d2 50%, #10c6d5 100%);
	background: -o-linear-gradient(bottom, #0bcddd 0%, #0bbac8 50%, #0fc4d2 50%, #10c6d5 100%);
	background: -moz-linear-gradient(bottom, #0bcddd 0%, #0bbac8 50%, #0fc4d2 50%, #10c6d5 100%);
	background: -webkit-linear-gradient(bottom, #0bcddd 0%, #0bbac8 50%, #0fc4d2 50%, #10c6d5 100%);
	background: -ms-linear-gradient(bottom, #0bcddd 0%, #0bbac8 50%, #0fc4d2 50%, #10c6d5 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0bcddd), color-stop(0.5, #0bbac8), color-stop(0.5, #0fc4d2), color-stop(1, #10c6d5));
	-moz-box-shadow: inset 0px 1px #85e2e9, inset 1px 0 #2fd5e3, inset 0 -1px #2fd5e3, inset -1px 0 #2fd5e3, 1px 1px #c7c7c7;
	-webkit-box-shadow: inset 0px 1px #85e2e9, inset 1px 0 #2fd5e3, inset 0 -1px #2fd5e3, inset -1px 0 #2fd5e3, 1px 1px #c7c7c7;
	box-shadow: inset 0px 1px #85e2e9, inset 1px 0 #2fd5e3, inset 0 -1px #2fd5e3, inset -1px 0 #2fd5e3, 1px 1px #c7c7c7;
	border: 1px solid #17b7c5;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.card .card h5.ui-state-active {
    background: linear-gradient(bottom, #984d8c 0%, #8b4480 50%, #96498a 50%, #984a8c 100%);
    background: -o-linear-gradient(bottom, #984d8c 0%, #8b4480 50%, #96498a 50%, #984a8c 100%);
    background: -moz-linear-gradient(bottom, #984d8c 0%, #8b4480 50%, #96498a 50%, #984a8c 100%);
    background: -webkit-linear-gradient(bottom, #984d8c 0%, #8b4480 50%, #96498a 50%, #984a8c 100%);
    background: -ms-linear-gradient(bottom, #984d8c 0%, #8b4480 50%, #96498a 50%, #984a8c 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #984d8c), color-stop(0.5, #8b4480), color-stop(0.5, #96498a), color-stop(1, #984a8c));
    -moz-box-shadow: inset 0px 1px #caa3c4, inset 1px 0 #A7689D, inset 0 -1px #A7689D, inset -1px 0 #A7689D, 1px 1px #c7c7c7;
    -webkit-box-shadow: inset 0px 1px #caa3c4, inset 1px 0 #A7689D, inset 0 -1px #A7689D, inset -1px 0 #A7689D, 1px 1px #c7c7c7;
    box-shadow: inset 0px 1px #caa3c4, inset 1px 0 #A7689D, inset 0 -1px #A7689D, inset -1px 0 #A7689D, 1px 1px #c7c7c7;
    border: 1px solid #924f87;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.card-header h5 a{		color: #fff; }
textarea {				width: 100%; }


.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.yellow-background{
	background: #f89c2b;
	padding: 10px;
}

.purple-button{
	color: white;
	border: 1px solid #924f87;
	border-radius: 5px;
	background: #924f87;
}

.float-right{			float: right; }

.woman-image {
    background: url("../images/women.png") no-repeat scroll left top transparent;
    padding-top: 420px;
    position: absolute;
    bottom: 58px;
    width: 294px;
}
