/* =============================================================
   CUSTOM CSS
 ============================================================ */
body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding-left: 20px !important;
}
h1{
	text-align:left;
	color:#793d70;
	font-size:2em;
	font-weight:bold;
	padding-bottom:2%;
}

h3 {
	color:#15b7c2;
	font-size:1.3em;
	display: inline-block;
	border-bottom: 2px solid #f89c2b;

}

.pull-left{
	width:50%;
	text-align:center;
	border-right: 1px solid #15b7c2;
}
.pull-right{
	width:50%;
	text-align:center;
}

.panel-heading{
	font-weight:bold;
}

.panel-title-adjust {
	font-size: 20px;
	padding: 5px;
}
.panel-title-adjust a:hover {
	text-decoration: none;
}
.panel-title-adjust i {
	padding-right: 5px;
}
.panel-purple {
	background-color: #793d70;
	color: #fff;
}
.panel-blue {
	background-color: #15b7c2;
	color: #fff;
}
.panel-orange {
	background-color: #f7a134;
	color: #fff;
}
.panel-green {
	background-color: #9abe50;
	color: #fff;
}
.body-white {
	background-color: #fff;
	color: #000;
}

/*

	CHRIS DREW HACKS

 */

.center-content{							text-align: center; padding-left: 0px !important;padding-right: 0px !important;}

/*.panel-body  .col-md-6{						margin-top: 10px; }*/
.panel-body .col-sm-12:nth-child(odd){		border: none; padding-left: 0 !important; padding-right: 0 !important;}
.panel-body .col-md-6:nth-child(odd){		border-right: 1px solid #15b7c2; padding-left: 0 !important; padding-right: 0 !important;}
/*.panel-body .col-md-6:last-child{			border: none; }*/

.otherblocks {
border-right: 1px solid #15b7c2; 

}

@media(max-width:992px){
	.panel-body .col-md-6:nth-child(odd){	border: none; padding-left: 0 !important; padding-right: 0 !important; }
}

@media(max-width:992px){
	.otherblocks {	border: none; }
}

 
.item-holder{
	display: inline-block;
	text-align: center;
	padding:0 15px;
}

.item-holder h3{							float: left; }
.item-holder p {
	text-align: left;
	float: left;
}
.icon-set{
	float: left;
	margin-top: 10px;
}

.icon{
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.icon:first-child{							margin-left: 20px;}

.icon-word{									background-image: url('../images/icon_word.png'); }
.icon-pdf{									background-image: url('../images/icon_pdf.png'); }
.icon-excel{								background-image: url('../images/icon_excel.png'); }

h5{
	text-transform: uppercase;
	color: purple;
	font-size: 8px;
	font-weight: bold;
	margin-left: 20px;
}

